@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* .section-main {
  @apply mt-6 sm:mt-8 md:mt-12 mb-10 sm:mb-12 md:mb-16;
} */
.section-header {
  @apply text-center text-3xl sm:text-4xl tracking-wide my-2 font-bold md:font-bold;
}
/*  */

/* HeroSection.css */

/* landscape  hero for mobiles*/
@media only screen and (max-width: 936px) and (max-height: 540px) and (orientation: landscape) {
  /* the root is changed, decreased */
  html {
    font-size: 14px;
  }
  /* reduced the height of the navigation bar*/
  .nav-bar {
    height: 65px;
  }

  /* reduced the height of hero page */
  .hero-page {
    height: "calc(100svh - 65px)";
    margin-top: 65px;
  }

  /* reduced the height of the main text */
  .main-heading {
    font-size: 2.25rem !important;
    margin-top: 0.625rem;
  }

  /*  */
  .content-wrapper {
    display: block;
  }

  /* reduced the margin top of the hero book button */
  .hero-book-button {
    margin-top: 1.25rem;
  }

  /* made the lower details touch the bottom */
  .lower-details {
    bottom: 0;
  }

  /* made the secondary text smaller */
  .secondary-text {
    line-height: 1.5rem !important;
    margin-top: 0.5rem;
  }
}

.embla {
  max-width: 1300px;
  margin: auto;
  --slide-height: 18rem;
  --slide-spacing: 2rem;
  --slide-size: 60%;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}

@media screen and (min-width: 29.25rem) {
  .about-carousel {
    width: 65%;
  }
}
@media screen and (min-width: 43.75rem) {
  .about-carousel {
    width: 55%;
  }
}
@media screen and (min-width: 50rem) {
  .about-carousel {
    width: 50%;
    height: 300px;
  }
}
@media screen and (min-width: 53.125rem) {
  .about-carousel {
    width: 45%;
  }
}

@media screen and (min-width: 62.5rem) {
  .about-carousel {
    width: 35%;
  }
}
/*  */
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 60%;
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media screen and (min-width: 35rem) {
  .embla__slide {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 48rem) {
  .embla__slide {
    flex: 0 0 35%;
  }
}

@media screen and (min-width: 52.5rem) {
  .embla__slide {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 64rem) {
  .embla__slide {
    flex: 0 0 25%;
  }
}
.embla__slide__number {
  /* box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast); */
  /* border-radius: 1rem; */
  /* font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center; */
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem; */
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(224, 223, 223);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__slide__number {
  backface-visibility: hidden;
}

.contact-form input,
.contact-form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  border: solid #7d7d7d 1px;
  padding-bottom: 25px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: monospace;
  margin-top: -5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
