@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html {
  scroll-padding-top: 80px;
}
/* body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
} */

body {
  overflow-x: hidden;
}

/* .section-main {
  @apply mt-6 sm:mt-8 md:mt-12 mb-10 sm:mb-12 md:mb-16;
} */
.section-header {
  @apply text-center text-3xl sm:text-4xl tracking-wide my-2 font-bold md:font-bold;
}
/*  */

/* HeroSection.css */

/* landscape  hero for mobiles*/
@media only screen and (max-width: 936px) and (max-height: 540px) and (orientation: landscape) {
  /* the root is changed, decreased */
  html {
    font-size: 14px;
  }
  /* reduced the height of the navigation bar*/
  .nav-bar {
    height: 65px;
  }

  /* reduced the height of hero page */
  .hero-page {
    height: 90vh !important;
    margin-top: 65px;
  }

  /* reduced the height of the main text */
  .main-heading {
    font-size: 2.25rem !important;
    margin-top: 0.625rem;
  }

  /*  */
  .content-wrapper {
    display: block;
  }

  /* reduced the margin top of the hero book button */
  /* .hero-book-button {
    margin-top: 1.25rem;
  } */

  /* made the lower details touch the bottom */
  .lower-details {
    bottom: 0;
  }

  /* made the secondary text smaller */
  .secondary-text {
    line-height: 1.5rem !important;
    margin-top: 0.5rem;
  }
}

/* normal styles */
.embla {
  margin: auto;
  overflow: hidden;
  --slide-height: 17rem;
  --slide-spacing: 2rem;
  --slide-size: 60%;
}

/* when it is clicked */
.embla.large,
.about.large {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.94);
  overflow-x: hidden;
  overflow-y: visible;
}

/* when it is clicked */
.embla.large .embla__slide,
.about.large .about__slide {
  display: grid;
  place-items: center;
  flex: 0 0 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  padding-left: 0;
  opacity: 1;
  padding-right: 0;
}

.embla__slide__number {
  border-radius: 3px;
}

.large-btn {
  display: none;
}

/* when it is clicked */
.embla.large .embla__slide img,
.about.large .about__slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: calc(100dvh - 100px);
  opacity: 1;
  border-radius: none;
}
.embla.large .embla__viewport,
.embla.large .embla__container,
.about.large .about__viewport,
.about.large .about__container {
  height: 100%;
}
/* when it is clicked */
@media screen and (min-width: 600px) {
  .embla.large .embla__slide,
  .about.large .about__slide {
    flex: 0 0 100%;
  }
  /* .embla.large .embla__slide__number {
    opacity: 1;
    max-height: 100%;
  } */
  .embla.large .embla__slide img,
  .about.large .about__slide img {
    width: auto;
  }
  .embla.large .embla__slide__number,
  .about.large .about__carousel__number {
    height: auto;
    max-height: calc(100dvh - 100px);
  }
  .embla.large .large-btn,
  .about.large .large-btn {
    display: flex;
  }
}

.embla.large .embla__viewport {
  overflow-y: visible;
}

.embla__viewport {
  overflow-y: visible;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}

@media screen and (min-width: 29.25rem) {
  .about__slide {
    width: 65%;
  }
}
@media screen and (min-width: 43.75rem) {
  .about__slide {
    width: 55%;
  }
}
@media screen and (min-width: 50rem) {
  .about__slide:not(.large .about__slide) {
    width: 50%;
    height: 300px;
  }
}
@media screen and (min-width: 53.125rem) {
  .about__slide:not(.large .about__slide) {
    width: 45%;
  }
}

@media screen and (min-width: 62.5rem) {
  .about__slide:not(.large .about__slide) {
    width: 35%;
    height: 400px;
  }
}

@media screen and (min-width: 75rem) {
  .about__slide:not(.large .about__slide) {
    width: 30%;
  }
}
/* .embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  max-height: calc(-212px + 100vh);
  min-width: 0;
} */

/* .embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 50vw;
  max-width: 100%;
  height: 100%;
  margin-left: 25vw;
  margin-right: 25vw;
  max-height: calc(-150px + 100vh);
  min-width: 0;
} */
/*  */
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 60%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  overflow: visible;
}

@media screen and (min-width: 35rem) {
  .embla__slide {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 48rem) {
  .embla__slide {
    flex: 0 0 35%;
  }
}

@media screen and (min-width: 52.5rem) {
  .embla__slide {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 64rem) {
  .embla__slide {
    flex: 0 0 25%;
  }
}
.embla__slide__number {
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.embla.large .embla__controls,
.about.large .about__controls {
  display: none;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__slide__number {
  backface-visibility: hidden;
}

.contact-form input,
.contact-form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  border: solid #7d7d7d 1px;
  padding-bottom: 25px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: monospace;
  margin-top: -5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.testimonial-card {
  box-shadow: 0px 0px 0px 1px rgba(70, 70, 70, 0.05),
    0px 3px 6px rgba(70, 70, 70, 0.1), 0px 9px 24px rgba(70, 70, 70, 0.15);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
